@font-face {
    font-family: keepcalm;
    src: url("KeepCalm.ttf");
}

#wrapper{
	width: 500px;
	height: 375px;

	position: absolute;
	/* the center alignment works only when width and height are fixed */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	background-image: url("./hot-balloon.jpg");
}

#wrapper div{
	width: 100%;
	margin: 5px auto;
	padding: 0;
	color: white;
	font-family: keepcalm;
	text-align: center;
	font-size: 38px;
}

#wrapper #icon_wrapper{
	margin-top: 25px;
}

#wrapper #icon{
	width: 72px;
	height: 72px;
	margin-left: 210px;
	background-image: url("./birthday-cake.png");
}

#wrapper #icon:hover{
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari */
    transform: rotate(15deg);
}

#wrapper #and{
	font-size: 24px;
}

#wrapper #bottom{
	position: absolute;
	margin: 5px 0 0 0;
	padding: 0;
	top: 375px;
	color: gray;
	font-size: 14px;
	font-style: italic;
	text-align: right;
	font-family: Arial;
}